<div class="newsletter-popup" style="background-image: url(assets/images/newsletter-popup.jpg)">
                <div class="newsletter-content">
                                <h4 class="text-uppercase text-primary font-weight-semi-bold ls-m">Up to 20% Off</h4>
                                <h2 class="text-uppercase font-weight-bold ls-m">Sign up to Donald</h2>
                                <p class="text-grey">Subscribe to the Donald eCommerce newsletter to receive timely updates from your favorite
                                                products.</p>
                                <form action="#" method="get" class="input-wrapper input-wrapper-inline input-wrapper-round mb-4">
                                                <input type="email" class="form-control email" name="email" id="email2" placeholder="Enter address here..." required="">
                                                <button class="btn btn-dark" type="submit">GO</button>
                                </form>
                                <div class="form-checkbox justify-content-center">
                                                <input type="checkbox" class="custom-checkbox" id="hide-newsletter-popup" name="hide-newsletter-popup" required />
                                                <label for="hide-newsletter-popup" class=" font-secondary">Don't show this popup again</label>
                                </div>
                </div>
</div>